{% extends "tentacle/base.html" %}

{% block add-activity %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Activity name</label>
            <input type="text" class="form-control" name="{{ add_activity_form.name.name }}" placeholder="" >
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea rows="3" class="form-control" name="{{ add_activity_form.description.name }}" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="">Parent activity</label>
            <select class="form-control" name="parent">
                {% for choice in add_activity_form.parent.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <p class="help-block">Each time you add hour .....</p>
        </div>
        <div class="form-group">
            <input type="submit" name="add_act_btn" value="Submit" class="btn btn-default" />
        </div>
    </form>
{% endblock%}


{% block content %}
<div class="col-md-12 mb">
    <div class="darkblue-panel pn">
        <div class="darkblue-header">
            <h4>{{ activity.activity_name }}</h4>
        </div>
        <p><em>"{{ activity.description}}"</em></p>
        <font size="20">{{ activity.total_hour }} <span>hours</span></font>
        <p>since {{ activity.created_at}}</p>
        <div class="chart mt">
            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="5" data-data="[0,4,3,3,2,3,2,6,4,1,2]"></div>
        </div>
        {% with inc_status="added" dec_status="sub"%}
        {% if activity.latest_hour > 0 %}
        <p class="mt">Recently, you {{ inc_status }} {{activity.latest_hour}} hours
        <br>in {{ activity.updated_at}}</p>
        {% else %}
        <p class="mt">Recently, you {{ inc_status }} {{activity.latest_hour}} hours
        <br>in {{ activity.updated_at}}</p>
        {% endif %}
        {% endwith %}
        <div class="percent">{% widthratio activity.total_hour 10000 100 %}%</div>
        <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="{{ activity.total_hour }}" aria-valuemin="0" aria-valuemax="10000" style="width: {% widthratio activity.total_hour 10000 100 %}%">
            <span>{{ activity.total_hour }} of 10000</span>
            </div>
        </div>
        <div>
            <p><i class="fa fa-comment"></i> 18 | <i class="fa fa-heart"></i> 49</p>
        </div>
    </div><!-- /darkblue panel -->
</div><!-- /col-md-4 -->
{% endblock %}

{% block add-hour %}
{% if increase_hour_form.errors %}
    {{ increase_hour_form.errors|pluralize }}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="form-group">
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                {% for choice in increase_hour_form.choice_field.field.choices %}
                  <span class="input-group-addon input-sm">
                    <input type="radio" name="choice_field" value="{{ choice.0 }}">
                  </span>
                  <input type="text" class="form-control input-sm" value="{{choice.1}}" readonly>
                {% endfor %}
                </div><!-- /input-group -->
                
                <div class="input-group">
                    <input type="text" class="form-control input-sm" name="{{ increase_hour_form.num.name }}" placeholder="Number of hours">
                    <div class="input-group-addon">hours</div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <textarea rows="3" class="form-control input-sm" name="{{ increase_hour_form.note.name }}" placeholder="Add note (optional)"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" name="inc_hour_btn" value="Submit" class="btn btn-primary btn-sm" />
    </div>
</form>
{% endblock %}

{% block timeline %}
<ul class="cbp_tmtimeline">
{% for note in notes %}
    <li>
        <time class="cbp_tmtime" datetime="{{ note.created_at }}"><span>4/10/13</span> <span>18:30</span></time>
        <div class="cbp_tmicon cbp_tmicon-phone"></div>
        <div class="cbp_tmlabel">
            <h2>{{ note.status }}</h2>
            <p>{{ note.note }}</p>
        </div>
    </li>
{% endfor %}
</ul>
{% endblock%}