{% extends "tentacle/base.html" %}

{% block add-activity %}
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="">Activity name</label>
            <input type="text" class="form-control" name="{{ add_activity_form.name.name }}" placeholder="" >
        </div>
        <div class="form-group">
            <label for="">Description</label>
            <textarea rows="3" class="form-control" name="{{ add_activity_form.description.name }}" placeholder="Description"></textarea>
        </div>
        <div class="form-group">
            <label for="">Parent activity</label>
            <select class="form-control" name="parent">
                {% for choice in add_activity_form.parent.field.choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
            <p class="help-block">Each time you add hour .....</p>
        </div>
        <div class="form-group">
            <input type="submit" name="add_act_btn" value="Submit" class="btn btn-default" />
        </div>
    </form>
{% endblock%}


{% block content %}
<div class="col-md-12 mb">
    <div class="darkblue-panel pn">
        <div class="darkblue-header">
            <h4>{{ activity.activity_name }}</h4>
        </div>
        <p><em>"{{ activity.description}}"</em></p>
        <font size="20">{{ activity.total_hour }} <span>hours</span></font>
        <p>since {{ activity.created_at}}</p>
        <div class="progress progress-striped active" style="margin:15px;">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                <span class="">40% Complete (success)</span>
            </div>
        </div>
        <div class="chart mt">
            <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[200,135,667,333,526,996,564,123,890,464,655]"></div>
        </div>
        {% with inc_status="added" dec_status="sub"%}
        {% if activity.latest_hour > 0 %}
        <p class="mt">Recently, you {{ inc_status }} {{activity.latest_hour}} hours
        <br>in {{ activity.updated_at}}</p>
        {% else %}
        <p class="mt">Recently, you {{ inc_status }} {{activity.latest_hour}} hours
        <br>in {{ activity.updated_at}}</p>
        {% endif %}
        {% endwith %}
        
        <footer>
            <div class="pull-left">
                <h5><i class="fa fa-hdd-o"></i> 17 GB</h5>
            </div>
            <div class="pull-right">
                <h5>60% Used</h5>
            </div>
        </footer>
    </div><!-- /darkblue panel -->
</div><!-- /col-md-4 -->
{% endblock %}

<font size="40">{{ activity.total_hour }} hours</font>
<p><small>You started {{ activity.activity_name }} in {{ activity.created_at}}.</small></p>

{% with inc_status="added" dec_status="sub"%}
{% if activity.latest_hour > 0 %}
	<p><small>Recently, you {{ inc_status }} {{activity.latest_hour}} hours in {{ activity.updated_at}}.</small></p>
{% else %}
	<p><small>Recently, you {{ dec_status }} {% widthratio activity.latest_hour 1 -1 %} hours in {{ activity.updated_at}}.</small></p>
{% endif %}
{% endwith %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

{% if increase_hour_form.errors %}
    {{ increase_hour_form.errors|pluralize }}
{% endif %}
<form action="" method="post">
    {% csrf_token %}
    <div class="input-group">
        {% for choice in increase_hour_form.choice_field.field.choices %}
        <label class="radio-inline">
            <input type="radio" name="choice_field" value="{{ choice.0 }}">
            <label for="">{{choice.1}}</label>
        </label>
        {% endfor %}
    </div>
    <br>
    <div class="input-group">
        <input type="text" class="form-control" name="{{ increase_hour_form.num.name }}" placeholder="Number of hours">
        <span class="input-group-addon">hour</span>
    </div>
    <br>
    <div class="form-group">
        <textarea rows="3" class="form-control" name="{{ increase_hour_form.note.name }}" placeholder="Add note (optional)"></textarea>
    </div>
    <div class="form-group">
        <input type="submit" name="inc_hour_btn" value="Submit" class="btn btn-default" />
    </div>
</form>